In [1]:
rent =1400
tax = "rent"

In [2]:
print(tax)

rent

In [3]:
print("Tax is:", rent)

Tax is: 1400

In [4]:
3**2

9

In [5]:
time = 6.934244
round(time, 2)

6.93

In [6]:
6-5.7
# Numbers are stored in binary format and floating way number is stored they loose accuracy

0.2999999999999998

In [7]:
round(6-5.7, 2)

0.3

In [8]:
text = "ice cream"

In [9]:
# Strings are immutabale in python
text[:9]

'ice cream'

In [10]:
s = 'My number is'
num = ' 25'
s+num

'My number is 25'

In [11]:
lr = ['item1', 'item2', 'item3']
lr

['item1', 'item2', 'item3']

In [12]:
lr[0]

'item1'

In [13]:
lr.append("item4")
lr

['item1', 'item2', 'item3', 'item4']

In [14]:
lr.insert(1, 'item5')
lr

['item1', 'item5', 'item2', 'item3', 'item4']

In [15]:
"item6" in lr

False

In [16]:
num = input("Enter the number:")

Enter the number:12

In [17]:
num = int(num)

In [18]:
if num%2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

In [19]:
indian = ["samosa", "daal", "naan"]
chinese = ["pot sticker", "egg roll", "fried rice"]
italian = ["pizza", "pasta", "risotto"]


dish = input("Enter the dish: ")
str(dish)

if dish in indian:
    print("indian")
elif dish in chinese:
    print("chinese")
elif dish in italian:
    print("italian")
else:
    print("Don't know ")

Enter the dish: daal
indian

In [20]:
exp = [2340, 2500, 2100, 3100, 2980]
total = exp[0] + exp[1] + exp[2] + exp[3] + exp[4]
print(total)

13020

In [21]:
i = 0
val = 0

for i in exp:
    val = val + i
print(val)

13020

In [22]:
for i in range(1, 11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [23]:
for i in range(len(exp)):
    print('Month:', (i+1), 'Expense:', exp[i])

Month: 1 Expense: 2340
Month: 2 Expense: 2500
Month: 3 Expense: 2100
Month: 4 Expense: 3100
Month: 5 Expense: 2980

In [24]:
key_location ="chair"
locations = ["garage", "living room", "closet", "chair"]
for i in locations:
    if i == key_location:
        print("Key is found in: ", i)
        continue
    else:
        print("Key is not found in:", i)

Key is not found in: garage
Key is not found in: living room
Key is not found in: closet
Key is found in:  chair

In [25]:
for i in range(1,6):
    if i%2 == 0:
        continue
    print(i*i)

1
9
25

In [26]:
i = 1
while i <=5:
    print(i)
    i = i+1

1
2
3
4
5

In [27]:
lr = [2100, 2200, 2300]
lr1 = [200, 300, 400]

total = 0

for item in lr:
    total = total + item
print("Total expense of lr is", total)

Total expense of lr is 6600

In [28]:
def calculate(exp):
    total = 0
    for item in exp:
        total = total + item
    return total

tom_total = calculate(lr)
joe_total = calculate(lr1)

print(tom_total)
print(joe_total)

6600
900

In [29]:
def sub(exp):
    total = 0
    for item in exp:
        total = item - total
    return total

In [30]:
lr1 = sub(lr)
lr1

2200

In [31]:
def sum(a,b):
    total = a + b
    return total

ab = sum(1,2)
an = sum(b =6, a =5)
print(ab)
an

3

11

In [32]:
d = {"Tom": 1234567890, "Rob": 2345678901, "Jack": 1234512345}
d

{'Tom': 1234567890, 'Rob': 2345678901, 'Jack': 1234512345}

In [33]:
d["Tom"]

1234567890

In [34]:
d["Sam"] = 1231231231
d

{'Tom': 1234567890, 'Rob': 2345678901, 'Jack': 1234512345, 'Sam': 1231231231}

In [35]:
del d["Sam"]
d

{'Tom': 1234567890, 'Rob': 2345678901, 'Jack': 1234512345}

In [36]:
for key in d:
    print("Key:", key, "Value:", d[key])

Key: Tom Value: 1234567890
Key: Rob Value: 2345678901
Key: Jack Value: 1234512345

In [37]:
for k,v in d.items():
    print("Key:", key, "Value:", d[key])

Key: Jack Value: 1234512345
Key: Jack Value: 1234512345
Key: Jack Value: 1234512345

In [38]:
f = {"First Name": "Siddharth", "Last Name": "Ranjan"}
f

{'First Name': 'Siddharth', 'Last Name': 'Ranjan'}

In [39]:
for k,v in f.items():
    print(k,":-", v)

First Name :- Siddharth
Last Name :- Ranjan

In [40]:
"tom" in d

False

In [41]:
d

{'Tom': 1234567890, 'Rob': 2345678901, 'Jack': 1234512345}

In [42]:
"Tom" in d

True

In [43]:
d.clear()
d

{}

In [44]:
d = (5,6)
d

(5, 6)

In [45]:
d[0]

5

In [46]:
import calendar
cal = calendar.month(2023, 1)
print(cal)

    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [47]:
calendar.isleap(2016)

True

In [48]:
book = {}
book["Tom"] = {
    'name': 'Siddharth',
    'address': 'Shivaji Nagar',
    'phone': 2323232323
}

book['bob'] = {
    
    'name': 'Sid',
    'address': 'Shivaji',
    'phone': 1234512345
}

import json
s = json.dumps(book)
print(s)

{"Tom": {"name": "Siddharth", "address": "Shivaji Nagar", "phone": 2323232323}, "bob": {"name": "Sid", "address": "Shivaji", "phone": 1234512345}}

In [49]:
import os

directory = "c://data//"

if not os.path.exists(directory):
    os.makedirs(directory)

book = {}
book["Tom"] = {
    'name': 'Siddharth',
    'address': 'Shivaji Nagar',
    'phone': 2323232323
}

book['bob'] = {
    
    'name': 'Sid',
    'address': 'Shivaji',
    'phone': 1234512345
}

import json
s = json.dumps(book)
print(s)

with open("c://data//book.txt", "w+") as f:
    f.write(s)

{"Tom": {"name": "Siddharth", "address": "Shivaji Nagar", "phone": 2323232323}, "bob": {"name": "Sid", "address": "Shivaji", "phone": 1234512345}}

In [50]:
f = open("c://data//book.txt", "r")
s = f.read()
print(s)

{"Tom": {"name": "Siddharth", "address": "Shivaji Nagar", "phone": 2323232323}, "bob": {"name": "Sid", "address": "Shivaji", "phone": 1234512345}}

In [51]:
book = json.loads(s)
book

{'Tom': {'name': 'Siddharth', 'address': 'Shivaji Nagar', 'phone': 2323232323},
 'bob': {'name': 'Sid', 'address': 'Shivaji', 'phone': 1234512345}}

In [52]:
book["bob"]["address"]

'Shivaji'

In [53]:
import os

directory = "c://data//"

if not os.path.exists(directory):
    os.makedirs(directory)

with open("c://data//funny.txt", "w+") as f:
    f.write("I love Python")
    f.close()

In [54]:
f = open("c://data//funny.txt", "r")
# print(f.read())
# f.close()

for line in f:
    tokens = line.split(" ")
    print(len(tokens))
    
f.close()

3

In [55]:
x = input("Enter Number 1:")
y = input("Enter Number 2:")

try:
    z = int(x)/int(y)
except Exception as e:
    print("Exception occurred as:",e )
    z = None
print("Division is:", z)

Enter Number 1:2
Enter Number 2:1
Division is: 2.0

In [56]:
x = input("Enter Number 1:")
y = input("Enter Number 2:")

try:
    z = int(x)/int(y)
except ZeroDivisionError as e:
    print("Division by zero exception:")
    z = None
except TypeError as e:
    print('TypeError Exception', type(e).__name__)
    z = None
print("Division is:", z)

Enter Number 1:4
Enter Number 2:0
Division by zero exception:
Division is: None

In [57]:
class Human:
    def __init__(self,n,o):
        self.name = n
        self.occupation = o
        
    def do_work(self):
        if self.occupation == "tennis player":
            print(self.name, "play tennis")
        elif self.occupation == "actor":
            print(self.name, "shooting")
            
    def speaks(self):
        print(self.name, "Says how are you?")
        
tom = Human("Tom Cruise", "actor")
tom.do_work()
tom.speaks()

Tom Cruise shooting
Tom Cruise Says how are you?

In [58]:
class Human:
    def __init__(self,n,o):
        self.name = n
        self.occupation = o
        
    def do_work(self):
        if self.occupation == "tennis player":
            print(self.name, "plays tennis")
        elif self.occupation == "actor":
            print(self.name, "acting")
    
    def speaks(self):
        print(self.name, "How are you")
        
tom = Human("Tom Cruise", "actor")
tom.do_work()
tom.speaks()

maria = Human("Maria Sharapova", "tennis player")
maria.do_work()
maria.speaks()

Tom Cruise acting
Tom Cruise How are you
Maria Sharapova plays tennis
Maria Sharapova How are you

In [59]:
class vehicle:
    def general_usage(self):
        print("general use: transportation")
        
class car(vehicle):
    def __init__(self):
        print("I am a car")
        self.wheels = 4
        self.has_roof = True
        
    def specific_usage(self):
        print("Specific use: commute to work, vacation with family")
        
class Motorcycle(vehicle):
    def __init__(self):
        print("I am motorcycle")
        self.wheels = 4
        self.has_roof = True
        
    def specific_usage(self):
        print("specific use: road trip, racing")
        
        
c = car()
c.general_usage()

I am a car
general use: transportation

In [60]:
class vechile:
    def general_usage(self):
        print("General Use: Transportation")
        
class car(vechile):
    def __init__(self):
        print("I am a car")
        self.wheels = 4
        self.has_roof = True
        
    def specific_usage(self):
        print("Specific use: commute to work, vacation with family")
        
class Motorcycle(vechile):
    def __init__(self):
        print("I am motor cycle")
        self.wheels = 4
        self.has_roof = True
        
    def specific_usage(self):
        print("specific use: road trip, racing")
 
c = car()
m = Motorcycle()

issubclass(car,Motorcycle)

I am a car
I am motor cycle

False

In [61]:
class Father():
    def gardening(self):
        print("I love gardening")
        
class Mother():
    def cooking(self):
        print("I love cooking")
        
class child(Father, Mother):
    def sports(self):
        print("I enjoy sports")
        
c = child()
c.gardening()
c.cooking()
c.sports()

I love gardening
I love cooking
I enjoy sports

In [62]:
class Accident(Exception):
    def __init__(self,msg):
        self.msg = msg
    def print_exception(self):
        print("User defined exception: ", self.msg)
        
try:
    raise Accident('car crash')    
except Accident as e:
    e.print_exception()

User defined exception:  car crash

In [63]:
a = ["hey", "How", "are", "you"]
itr = reversed(a)
next(itr)
next(itr)
next(itr)
next(itr)
a

['hey', 'How', 'are', 'you']

In [64]:
class RemoteControl():
    def __init__(self):
        self.channels = ["HBO", "CNN", "Disney", "ESPN"]
        self.index = -1
        
    def __iter__(self):
        return self
    
    def __next__(self):
        self.index += 1
        if self.index == len(self.channels):
            raise StopIteration
        return self.channels[self.index]
    
r = RemoteControl()
itr = iter(r)
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

HBO
CNN
Disney
ESPN

In [65]:
def fib():
    a, b = 0,1
    while True:
        yield a 
        a, b = b, a+b

for f in fib():
    if f > 13:
        break
    print(f)

0
1
1
2
3
5
8
13

In [66]:
num = [1,2,3,4,5,6,78]
even = [i for i in num if i%2 ==0]
even

[2, 4, 6, 78]

In [67]:
city = ["mumbai", "New York", "Paris"]
country = ["India", "USA", "France"]

z = zip(city, country)
for i in z:
    print(i)
    
d = {city:country for city, country in zip(city, country)}
d

('mumbai', 'India')
('New York', 'USA')
('Paris', 'France')

{'mumbai': 'India', 'New York': 'USA', 'Paris': 'France'}

In [1]:
basket = {"orange", "apple","mango","apple","orange"}
type(basket)

set

In [2]:
basket

{'apple', 'mango', 'orange'}

In [3]:
a = set()
a.add(1)
a.add(2)

In [4]:
a

{1, 2}

In [5]:
x = {"a","b","c"}
"a" in x

True

In [7]:
for i in x:
    print(i)

b
c
a

In [8]:
y = {"v","w","z"}
x|y

{'a', 'b', 'c', 'v', 'w', 'z'}

In [9]:
x & y

set()

In [10]:
x - y

{'a', 'b', 'c'}

In [12]:
import argparse
if __name__ == "__main__":
    parser = argparse.ArgumentParser()
    args = parser.parse_args()

usage: ipykernel_launcher.py [-h]
ipykernel_launcher.py: error: unrecognized arguments: -f C:\Users\13127\AppData\Roaming\jupyter\runtime\kernel-417ce35b-345f-4689-b97b-db80c4e3139a.json

SystemExit: 2

C:\Users\13127\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3377: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [21]:
import time

def calc_square(numbers):
    start = time.time()
    result = []
    for num in numbers:
        result.append(num * num)
    end = time.time()
    print("Calc square took " + str((end - start) * 1000) + " milliseconds")
    return result

array = [1,2,3,4,5]
result_array = calc_square(array)  
print(result_array)

Calc square took 0.0 milliseconds
[1, 4, 9, 16, 25]

In [1]:
def time_it(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args,**kwargs)
        end = time.time()
        print(func.__name)

In [4]:
def square(lr):
    print("The square is: ")
    for num in lr:
        print(num*num)

lr = [1,2,3,4]       
square(lr)

The square is:
1
4
9
16

In [6]:
def cube(lr):
    for num in lr:
        print(num * num*num)
        
lr = [2,3,4,5,6,6]
cube(lr)

8
27
64
125
216
216

In [11]:
import threading

t1 = threading.Thread(target=square, args=(lr,))
t2 = threading.Thread(target=cube, args=(lr,))

t1.start()
t2.start()

t1.join()
t2.join()

The square is:
4
9
16
25
36
36
8
27
64
125
216
216

In [8]:
import time
import queue
import multiprocessing

def square(arr,q):
    for n in arr:
        q.put(n*n)

if __name__ == "__main__":
    arr = [1,2,3,4,5]
    q = multiprocessing.Queue()
    p1 = multiprocessing.Process(target=square, args=(arr,q))
    p1.start()
    p1.join()
    
    while q.empty() is False:
        print(q.get())

In [9]:
import queue
import concurrent.futures

def square(n, q):
    q.put(n * n)

if __name__ == "__main__":
    arr = [1, 2, 3, 4, 5]
    q = queue.Queue()

    with concurrent.futures.ThreadPoolExecutor() as executor:
        executor.map(square, arr, [q]*len(arr))

    while not q.empty():
        print(q.get())

1
4
9
16
25

In [16]:
import time
import multiprocessing

def deposit(balance,lock):
    for n in range(100):
        time.sleep(0.05)
        lock.acquire()
        balance.value = balance.value + 1
        lock.release()
        
def withdraw(balance,lock):
    for n in range(100):
        time.sleep(0.01)
        lock.acquire()
        balance.value = balance.value - 1
        lock.release()
        
        
if __name__ == "__main__":
    balance = multiprocessing.Value('i',200)
    lock = multiprocessing.Lock()
    d = multiprocessing.Process(target=deposit, args=(balance,lock))
    w = multiprocessing.Process(target=withdraw, args=(balance,lock))
    
    d.start()
    w.start()
    
    d.join()
    w.join()
    
    print(balance.value)

200

In [ ]:
from multiprocessing import Pool

def f(n):
    return n * n

if __name__ == "__main__":
    
    arr = [1,2,3,4,5,6]
    p = Pool()
    result = p.map(f,arr)
    print(result)